<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <section class="product-content clearfix">
          <h1 class="title clearfix">
            <span>Sản phẩm</span>
          </h1>
          <nav class="navbar navbar-default product-filter">
            <ul class="display">
              <li id="grid" class="active grid">
                <a href="#" title="Grid">
                  <i class="fa fa-th-large"></i>
                </a>
              </li>
              <li id="list" class="list">
                <a href="#" title="List">
                  <i class="fa fa-th-list"></i>
                </a>
              </li>
            </ul>
            <div class="limit">
              <span>Sản phẩm/trang</span>
              <select id="lblimit" name="lblimit" class="nb_item" onchange="window.location.href = this.options[this.selectedIndex].value">
                <option value="?limit=10">10</option>
                <option selected="selected" value="?limit=12">12</option>
                <option value="?limit=20">20</option>
                <option value="?limit=50">50</option>
                <option value="?limit=100">100</option>
                <option value="?limit=250">250</option>
                <option value="?limit=500">500</option>
              </select>
            </div>
            <div class="sort">
              <span>Sắp xếp</span>
              <select class="selectProductSort" id="lbsort" onchange="window.location.href = this.options[this.selectedIndex].value">
                <option selected="selected" value="?sort=index&amp;order=asc">Mặc định</option>
                <option value="?sort=price&amp;order=asc">Giá tăng dần</option>
                <option value="?sort=price&amp;order=desc">Giá giảm dần</option>
                <option value="?sort=name&amp;order=asc">Tên sản phẩm: A to Z</option>
                <option value="?sort=name&amp;order=desc">Tên sản phẩm: Z to A</option>
              </select>
            </div>
          </nav>
          <div class="product-block product-grid clearfix">
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/spf-25-pa.html" title="spf 25 pa++">
                    <img src="../../../assets/Uploads/shop302/files/TrangDiem/td1.jpg" class="img-responsive">
                  </a>
                  <span class="sale">Bán chạy</span>
                  <div class="content-mask">
                    <br>
                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/spf-25-pa.html" title="spf 25 pa++">spf 25 pa++</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">1.300.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10314,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/ohui-auto-cover-cream.html" title="OHUI AUTO COVER CREAM">
                    <img src="../../../assets/Uploads/shop302/files/TrangDiem/td2.jpg" class="img-responsive">
                  </a>
                  <span class="sale">Bán chạy</span>
                  <div class="content-mask">
                    <br>
                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/ohui-auto-cover-cream.html" title="OHUI AUTO COVER CREAM">OHUI AUTO COVER CREAM</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">2.350.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10315,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/spf41-pa.html" title="SPF41/PA++">
                    <img src="../../../assets/Uploads/shop302/files/TrangDiem/td3.png" class="img-responsive">
                  </a>
                  <span class="new">Mới</span>
                  <div class="content-mask">
                    Kem Che Khuyết Điểm Chống Nắng
                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/spf41-pa.html" title="SPF41/PA++">SPF41/PA++</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">1.300.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10316,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/ohui-eyeshadow.html" title="OHUI - EYESHADOW">
                    <img src="../../../assets/Uploads/shop302/files/TrangDiem/td4.png" class="img-responsive">
                  </a>
                  <span class="hot">Hot</span>
                  <div class="content-mask">

                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/ohui-eyeshadow.html" title="OHUI - EYESHADOW">OHUI - EYESHADOW</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">1.100.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10317,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/ohui-age-recovery.html" title="Ohui age recovery">
                    <img src="../../../assets/Uploads/shop302/files/TrangDiem/td5.png" class="img-responsive">
                  </a>
                  <span class="promotion">-9%</span>
                  <div class="content-mask">

                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/ohui-age-recovery.html" title="Ohui age recovery">Ohui age recovery</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">1.000.000&nbsp;₫</span>
                    <span class="price-old">1.100.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10318,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/ohui-two-way-cake.html" title="Ohui Two way cake">
                    <img src="../../../assets/Uploads/shop302/files/TrangDiem/td6.jpg" class="img-responsive">
                  </a>
                  <span class="promotion">-7%</span>
                  <div class="content-mask">
                    <br>
                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/ohui-two-way-cake.html" title="Ohui Two way cake">Ohui Two way cake</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">1.300.000&nbsp;₫</span>
                    <span class="price-old">1.400.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10319,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/ohui-tender.html" title="OHUI Tender">
                    <img src="../../../assets/Uploads/shop302/files/LamSach/ls1.jpg" class="img-responsive">
                  </a>
                  <span class="hot">Hot</span>
                  <div class="content-mask">
                    Kem masage ohui Tender
                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/ohui-tender.html" title="OHUI Tender">OHUI Tender</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">3.000.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10320,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/tender-masage-cream.html" title="Tender Masage Cream">
                    <img src="../../../assets/Uploads/shop302/files/LamSach/ls2.jpg" class="img-responsive">
                  </a>
                  <span class="promotion">-2%</span>
                  <div class="content-mask">
                    Kem masage Tender Masage Cream tạo độ ẩm cho da
                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/tender-masage-cream.html" title="Tender Masage Cream">Tender Masage Cream</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">4.000.000&nbsp;₫</span>
                    <span class="price-old">4.070.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10321,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/ohui-tender-cleamsing-sheet.html" title="ohui tender cleamsing sheet">
                    <img src="../../../assets/Uploads/shop302/files/LamSach/ls3.png" class="img-responsive">
                  </a>
                  <span class="hot">Hot</span>
                  <div class="content-mask">

                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/ohui-tender-cleamsing-sheet.html" title="ohui tender cleamsing sheet">ohui tender cleamsing sheet</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">8.000.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10322,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/tender-point-make-up-remover.html" title="tender point make-up remover">
                    <img src="../../../assets/Uploads/shop302/files/LamSach/ls4.jpg" class="img-responsive">
                  </a>
                  <span class="new">Mới</span>
                  <div class="content-mask">

                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/tender-point-make-up-remover.html" title="tender point make-up remover">tender point make-up remover</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">3.023.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10323,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/ohui-hand-cream.html" title="OHUI hand cream">
                    <img src="../../../assets/Uploads/shop302/files/LamSach/ls5.jpg" class="img-responsive">
                  </a>
                  <span class="sale">Bán chạy</span>
                  <div class="content-mask">

                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/ohui-hand-cream.html" title="OHUI hand cream">OHUI hand cream</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">5.350.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10324,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 product-item-box">
              <div class="product-item product-resize fixheight" style="height: 294px;">
                <div class="image image-resize" style="height: 157px;">
                  <a href="/san-pham/ohui-putifying-foam.html" title="OHUI PUTIFYING FOAM">
                    <img src="../../../assets/Uploads/shop302/files/LamSach/ls6.png" class="img-responsive">
                  </a>
                  <span class="new">Mới</span>
                  <div class="content-mask">

                  </div>
                </div>
                <div class="right-block">
                  <h2 class="name">
                    <a href="/san-pham/ohui-putifying-foam.html" title="OHUI PUTIFYING FOAM">OHUI PUTIFYING FOAM</a>
                  </h2>
                  <div class="rating">
                    <div class="rating-1">
                      <span class="rating-img">
                      </span>
                    </div>
                  </div>
                  <div class="price">
                    <span class="price-new">2.352.000&nbsp;₫</span>
                  </div>
                  <div class="button_buy">
                    <a class="" href="javascript:void(0)" onclick="AddToCard(10325,1)">Mua</a>
                  </div>
                </div>
                <div class="shadow">
                </div>
              </div>
            </div>
          </div>
          <div class="navigation">
            <ul class="pagination">
              <li>
                <a href="?page=1" aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              <li class="active">
                <a href="?page=1">1</a>
              </li>
              <li>
                <a href="?page=2">2</a>
              </li>
              <li>
                <a href="?page=3">3</a>
              </li>
              <li>
                <a href="?page=3" aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </div>
        </section>
        <!--Template--
--End-->
      </div>
    </div>
  </div>
</div>