<div id="fb-root" class=" fb_reset">
  <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
    <div>
      <iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
        id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="" style="border: none;"></iframe>
    </div>
  </div>
  <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
    <div></div>
  </div>
</div>
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    // js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=227481454296289";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<div class="wrapper page-home">

  <div class="header">

    <script src="/Scripts/common/login.js" type="text/javascript"></script>
    <section class="top-link clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav navbar-nav topmenu-contact pull-left">
              <li>
                <i class="fa fa-phone"></i>
                <span>Hotline:(08) 66 85 85 38</span>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right topmenu  hidden-xs hidden-sm">
              <li class="order-check">
                <a href="/kiem-tra-don-hang.html">
                  <i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a>
              </li>
              <li class="order-cart">
                <a href="/gio-hang.html">
                  <i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
              </li>
              <li class="account-login">
                <a href="/dang-nhap.html">
                  <i class="fa fa-sign-in"></i> Đăng nhập </a>
              </li>
              <li class="account-register">
                <a href="/dang-ky.html">
                  <i class="fa fa-key"></i> Đăng ký </a>
              </li>
            </ul>
            <div class="show-mobile hidden-lg hidden-md">
              <div class="quick-user">
                <div class="quickaccess-toggle">
                  <i class="fa fa-user"></i>
                </div>
                <div class="inner-toggle">
                  <ul class="login links">
                    <li>
                      <a href="/dang-ky.html">
                        <i class="fa fa-sign-in"></i> Đăng ký</a>
                    </li>
                    <li>
                      <a href="/dang-nhap.html">
                        <i class="fa fa-key"></i> Đăng nhập</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="quick-access">
                <div class="quickaccess-toggle">
                  <i class="fa fa-list"></i>
                </div>
                <div class="inner-toggle">
                  <ul class="links">
                    <li>
                      <a id="mobile-wishlist-total" href="/kiem-tra-don-hang.html" class="wishlist">
                        <i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a>
                    </li>
                    <li>
                      <a href="/gio-hang.html" class="shoppingcart">
                        <i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="header-content clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-12 col-sm-12 header-left text-center">
            <div class="logo">
              <a href="/" title="">
                <img alt="" src="../../../assets/Uploads/shop302/files/logo.png" class="img-responsive">
              </a>
            </div>
          </div>
          <div class="col-md-9 col-xs-12 col-sm-12 header-right">
            <div class="sale-policy clearfix hidden-sm hidden-xs">
              <ul class="clearfix">
                <li class="shipping">
                  <i class="fa fa-truck"></i>
                  <span>
                    Giao hàng miễn phí
                  </span>
                </li>
                <li class="payment">
                  <i class="fa fa-money"></i>
                  <span>
                    Thanh toán linh hoạt
                  </span>
                </li>
                <li class="return">
                  <i class="fa fa-refresh"></i>
                  <span>
                    Trả hàng trong 30 ngày
                  </span>
                </li>
              </ul>
            </div>
            <div class="cart">
              <div class="heading">
                <a href="/gio-hang.html">
                  <span class="icon">icon</span>
                  <span id="cart-total">
                    0 sp - 0đ
                  </span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div class="search hidden-sm hidden-xs">
              <div class="input-cat form-search clearfix">
                <div class="form-search-controls">
                  <input type="text" name="search" id="txtsearch" onblur="if(this.value=='')this.value='Tìm kiếm...'" onfocus="if(this.value=='Tìm kiếm...')this.value=''"
                    value="Tìm kiếm...">
                  <div class="select-categories">
                    <select name="lbgroup" id="lbgroup">
                      <option value="0" selected="selected">Tất cả</option>
                      <option class="option-1" value="8347">OHUI Trang điểm</option>
                      <option class="option-1" value="8348">OHUI Làm sạch</option>
                      <option class="option-1" value="8349">OHUI Trắng Da</option>
                      <option class="option-1" value="8350">OHUI Tái Sinh Da</option>
                      <option class="option-1" value="8351">OHUI Chống Nắng</option>
                      <option class="option-1" value="8352">OHUI Dưỡng Da</option>
                    </select>
                  </div>
                </div>
                <button class="btn btn-search" title="Search" type="button" id="btnsearch" value="Search">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <div class="social-group">
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript">
      $("#btnsearch").click(function () {
        SearchProduct();
      });
      $("#txtsearch").keydown(function (event) {
        if (event.keyCode == 13) {
          SearchProduct();
        }
      });
      function SearchProduct() {
        var key = $('#txtsearch').val();
        if (key == '' || key == 'Tìm kiếm...') {
          $('#txtsearch').focus();
          return;
        }
        var group = $('#lbgroup').val();
        window.location = '/tim-kiem.html?group=' + group + '&key=' + key;
      }
    </script>
    <section class="navigation-menu clearfix">
      <div class="container">
        <div class="menu-top">
          <div class="row">
            <div class="col-md-3">
              <div class="menu-cate menu-quick-select">
                <div class="menu-cate-title">
                  <span>
                    <i class="fa fa-th-list"></i>
                    <a href="/san-pham.html">Danh mục sản phẩm</a>
                  </span>
                  <i class="fa fa-chevron-circle-down"></i>
                </div>
                <ul class="menu-cate-content">
                  <li>
                    <a href="/san-pham/ohui-trang-diem-8347">
                      <i class="icon-menu fa "></i>
                      OHUI Trang điểm
                      <span class="arrow-menu">
                        <i class="fa fa-chevron-right "></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="/san-pham/ohui-lam-sach-8348">
                      <i class="icon-menu fa "></i>
                      OHUI Làm sạch
                      <span class="arrow-menu">
                        <i class="fa fa-chevron-right "></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="/san-pham/ohui-trang-da-8349">
                      <i class="icon-menu fa "></i>
                      OHUI Trắng Da
                      <span class="arrow-menu">
                        <i class="fa fa-chevron-right "></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="/san-pham/ohui-tai-sinh-da-8350">
                      <i class="icon-menu fa "></i>
                      OHUI Tái Sinh Da
                      <span class="arrow-menu">
                        <i class="fa fa-chevron-right "></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="/san-pham/ohui-chong-nang-8351">
                      <i class="icon-menu fa "></i>
                      OHUI Chống Nắng
                      <span class="arrow-menu">
                        <i class="fa fa-chevron-right "></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="/san-pham/ohui-duong-da-8352">
                      <i class="icon-menu fa "></i>
                      OHUI Dưỡng Da
                      <span class="arrow-menu">
                        <i class="fa fa-chevron-right "></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-9 ">
              <nav class="navbar nav-menu">
                <div class="navbar-header">
                  <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu"
                    aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <nav id="mobile-menu" class="mobile-menu collapse navbar-collapse">
                  <ul class="menu nav navbar-nav">
                    <li class="level0 active">
                      <a class="" href="/trang-chu.html">
                        <span>Trang chủ</span>
                      </a>
                    </li>
                    <li class="level0">
                      <a class="" href="/gioi-thieu.html">
                        <span>Giới thiệu</span>
                      </a>
                    </li>
                    <li class="level0">
                      <a class="" href="/san-pham.html">
                        <span>Sản phẩm</span>
                      </a>
                    </li>
                    <li class="level0">
                      <a class="" href="/tin-tuc.html">
                        <span>Tin tức</span>
                      </a>
                    </li>
                    <li class="level0">
                      <a class="" href="/lien-he.html">
                        <span>Liên hệ</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </section>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".menu-quick-select ul").hide();

        // var str = location.href.toLowerCase();
        // $("ul.menu li a").each(function () {
        //   if (str.indexOf(this.href.toLowerCase()) >= 0) {
        //     $("ul.menu li").removeClass("active");
        //     $(this).parent().addClass("active");
        //   }
        // });
      });
    </script>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9 ">
        <!-- Slider -->
        <!-- <app-slider-home></app-slider-home> -->
        <app-slider></app-slider>
      </div>
    </div>
  </div>

  <!-- Content -->
  <app-index></app-index>
  <!-- end Content -->

  <div class="partner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- <link href="/Scripts/owl-carousel/owl.carousel.css" rel="stylesheet">
          <link href="/Scripts/owl-carousel/owl.theme.css" rel="stylesheet">
          <script src="/Scripts/owl-carousel/owl.carousel.min.js"></script>
          <script src="/app/services/moduleServices.js"></script>
          <script src="/app/controllers/moduleController.js"></script>
          <div class="partner-content owl-carousel ng-scope" ng-controller="moduleController" ng-init="initPartnerController('Partners')">
            <div class="partner-block owl-carousel owl-theme" style="opacity: 1; display: block;">
              <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 1752px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-146px, 0px, 0px);">
                  <div class="owl-item" style="width: 146px;">
                    <div class="partner-item ng-scope" ng-repeat="item in Partners">
                      <a href="" target="_blank" title="6">
                        <img ng-src="../../../assets/Uploads/shop302/files/dt1.png" alt="6" class="img-responsive" src="../../../assets/Uploads/shop302/files/dt1.png">
                      </a>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 146px;">
                    <div class="partner-item ng-scope" ng-repeat="item in Partners">
                      <a href="" target="_blank" title="5">
                        <img ng-src="../../../assets/Uploads/shop302/files/dt2.png" alt="5" class="img-responsive" src="../../../assets/Uploads/shop302/files/dt2.png">
                      </a>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 146px;">
                    <div class="partner-item ng-scope" ng-repeat="item in Partners">
                      <a href="" target="_blank" title="3">
                        <img ng-src="../../../assets/Uploads/shop302/files/dt3.png" alt="3" class="img-responsive" src="../../../assets/Uploads/shop302/files/dt3.png">
                      </a>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 146px;">
                    <div class="partner-item ng-scope" ng-repeat="item in Partners">
                      <a href="" target="_blank" title="1">
                        <img ng-src="../../../assets/Uploads/shop302/files/dt4.png" alt="1" class="img-responsive" src="../../../assets/Uploads/shop302/files/dt4.png">
                      </a>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 146px;">
                    <div class="partner-item ng-scope" ng-repeat="item in Partners">
                      <a href="" target="_blank" title="2">
                        <img ng-src="../../../assets/Uploads/shop302/files/dt5.png" alt="2" class="img-responsive" src="../../../assets/Uploads/shop302/files/dt5.png">
                      </a>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 146px;">
                    <div class="partner-item ng-scope" ng-repeat="item in Partners">
                      <a href="" target="_blank" title="4">
                        <img ng-src="../../../assets/Uploads/shop302/files/dt6.png" alt="4" class="img-responsive" src="../../../assets/Uploads/shop302/files/dt6.png">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
         
            </div>
            <div class="controls boxprevnext">
              <a class="prev prevlogo">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="next nextlogo">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
          <script type="text/javascript">
            $(document).ready(function () {
              var owl = $(".partner-block");
              owl.owlCarousel({
                autoPlay: true,
                autoPlay: 5000,
                items: 6,
                slideSpeed: 1000,
                pagination: false,
                itemsDesktop: [1200, 6],
                itemsDesktopSmall: [980, 5],
                itemsTablet: [767, 4],
                itemsMobile: [480, 2]
              });
              $(".partner-content .nextlogo").click(function () {
                owl.trigger('owl.next');
              });
              $(".partner-content .prevlogo").click(function () {
                owl.trigger('owl.prev');
              });
            });
          </script>
          <script type="text/javascript">
            window.Partners = [{ "Id": 1090, "ShopId": 302, "Name": "6", "Link": null, "Logo": "../../../assets/Uploads/shop302/files/dt1.png", "Index": 6, "Inactive": false }, { "Id": 1091, "ShopId": 302, "Name": "5", "Link": null, "Logo": "../../../assets/Uploads/shop302/files/dt2.png", "Index": 5, "Inactive": false }, { "Id": 1092, "ShopId": 302, "Name": "3", "Link": null, "Logo": "../../../assets/Uploads/shop302/files/dt3.png", "Index": 2, "Inactive": false }, { "Id": 1093, "ShopId": 302, "Name": "1", "Link": null, "Logo": "../../../assets/Uploads/shop302/files/dt4.png", "Index": 1, "Inactive": false }, { "Id": 1094, "ShopId": 302, "Name": "2", "Link": null, "Logo": "../../../assets/Uploads/shop302/files/dt5.png", "Index": 3, "Inactive": false }, { "Id": 1095, "ShopId": 302, "Name": "4", "Link": null, "Logo": "../../../assets/Uploads/shop302/files/dt6.png", "Index": 4, "Inactive": false }];
          </script> </div> -->
        </div>
      </div>
    </div>


    <div class="footer">

      <div class="footer-content clearfix">
        <div class="container">
          <div class="row">
            <div class="footer-box col-md-3 col-sm-12 col-xs-12">
              <div class="item">
                <h3>
                  <span>Giới thiệu</span>
                </h3>
              </div>
              <ul>
                <li>
                  <a href="/gioi-thieu.html">
                    Về chúng tôi
                  </a>
                </li>
                <li>
                  <a href="/gioi-thieu.html">
                    Lĩnh vực hoạt động
                  </a>
                </li>
                <li>
                  <a href="/content/hoi-dap.html">
                    Hỏi đáp
                  </a>
                </li>
                <li>
                  <a href="/content/quy-che-hoat-dong.html">
                    Quy chế hoạt động
                  </a>
                </li>
                <li>
                  <a href="/content/tuyen-dung.html">
                    Tuyển dũng
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-box col-md-3 col-sm-12 col-xs-12">
              <div class="item">
                <h3>
                  <span>Trợ giúp</span>
                </h3>
              </div>
              <ul>
                <li>
                  <a href="/content/huong-dan-thanh-toan.html">
                    Hướng dẫn thanh toán
                  </a>
                </li>
                <li>
                  <a href="/content/quy-dinh-doi-tra.html">
                    Quy định đổi trả
                  </a>
                </li>
                <li>
                  <a href="/content/chinh-sach-ban-hang.html">
                    Chính sách bán hàng
                  </a>
                </li>
                <li>
                  <a href="/content/chinh-sach-bao-mat.html">
                    Chính sách bảo mật
                  </a>
                </li>
                <li>
                  <a href="/content/quy-dinh-thao-luan.html">
                    Quy định thảo luận
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-box box-address col-md-3 col-sm-12 col-xs-12">
              <div class="item">
                <h3>
                  Thông tin công ty
                </h3>
                <div class="box-address-content">
                  <b>My Pham 3</b>
                  <p>
                    <i class="fa fa-map-marker"></i> Tận Định, Q.1, TP.HCM</p>
                  <p>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@runtime.vn">info@runtime.vn</a>
                  </p>
                  <p>
                    <i class="fa fa-phone"></i>
                    Phone: (08) 66 85 85 38
                  </p>
                </div>
              </div>
            </div>
            <div class="footer-box box-social col-md-3 col-sm-12 col-xs-12">
              <div class="item">
                <h3>
                  Facebook
                </h3>
                <div class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/runtime.vn" data-width="289" data-height="190"
                  data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"
                  fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=227481454296289&amp;color_scheme=dark&amp;container_width=730&amp;header=false&amp;height=190&amp;href=https%3A%2F%2Fwww.facebook.com%2Fruntime.vn&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=false&amp;width=289">
                  <span style="vertical-align: bottom; width: 0px; height: 0px;">
                    <iframe name="f16d28831c3c8b4" width="289px" height="190px" frameborder="0" allowtransparency="true" allowfullscreen="true"
                      scrolling="no" allow="encrypted-media" title="fb:like_box Facebook Social Plugin" src="https://www.facebook.com/v2.6/plugins/like_box.php?app_id=227481454296289&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FQX17B8fU-Vm.js%3Fversion%3D42%23cb%3Df2d5511348717f8%26domain%3Drunecom54.runtime.vn%26origin%3Dhttp%253A%252F%252Frunecom54.runtime.vn%252Ff7cd2440d5bf34%26relation%3Dparent.parent&amp;color_scheme=dark&amp;container_width=730&amp;header=false&amp;height=190&amp;href=https%3A%2F%2Fwww.facebook.com%2Fruntime.vn&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=false&amp;width=289"
                      style="border: none; visibility: visible; width: 0px; height: 0px;" class=""></iframe>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom clearfix">
          <div class="container">
            <div class="footer-box col-md-5 hotline col-sm-12 col-xs-12">HOTLINE: (08) 66 85 85 38</div>
            <div class="footer-box box-social col-md-3 col-sm-12 col-xs-12">
              <div class="item">
                <div class="social-icon">
                  <ul>
                    <li>
                      <a target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/runtime.vn" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank">
                        <i class="fa fa-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank">
                        <i class="fa fa-twitter "></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none;" id="loading-mask">
    <div id="loading_mask_loader" class="loader">
      <img alt="Loading..." src="../../../assets/Images/ajax-loader-main.gif">
      <div>
        Please wait...
      </div>
    </div>
  </div>
  <a class="back-to-top" href="#" style="display: none;">
    <i class="fa fa-angle-up">
    </i>
  </a>




  <script type="text/javascript">
    $(".header-content").css({ "background": '' });
    $("html").addClass('');
    $(document).ready(function () {
      $("img.lazy-img").each(function () {
        //$(this).attr("data-original", $(this).attr("src"));
        //$(this).attr("src", "/Images/blank.gif");
      });
      $("img.lazy-img").lazyload({
        effect: "fadeIn",
        threshold: 200
      });
    });
  </script>